
.pimg1, .pimg2, .pimg3 {
position: relative;
opacity: 0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.pimg1{
    background-image: url('image1.jpg');
    min-height: 100%;
}
.pimg2 {
    background-image: url('image2.jpg');
    min-height: 400%;
}
.pimg3 {
    background-image: url('image3.jpg');
    min-height: 400%;
}
.section{
    text-align: center;
    padding: 50px 80px;
}